local PublisherWhitelist = {
	-- UserId Publisher
	[8754361068] = true,
	[8599351803] = true,
	[4898236151] = true,
	[9210908967] = true,

	-- GroupId Publisher
	[989026341] = true, 
	[884377458] = true,  
	[61099409] = true, 
	[414097283] = true,
	[405668210] = true,
}

local function isMapWhitelisted()
	return PublisherWhitelist[game.CreatorId] == true
end

local MAP_WHITELISTED = isMapWhitelisted()
local RANK_ENABLED = true -- default ON jika map whitelist

print("[SubdivIconManager] Map Whitelisted:", MAP_WHITELISTED)
